#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#form {
    display: flex;
}
header{
position: fixed;
width: 100%;
top: 0;
left: 0;
background-color: #cc0000;
color: white;
font-family: 'Exo 2', sans-serif;

}
li{
  display: inline;
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}